.pop-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    z-index: 9999;
    align-items: center;
    justify-content: center;

    &__inner {
        max-width: 600px;
        width: 100%;
        background-color: #fff;
        border-radius: 10px;
        padding: 0 15px;
        overflow: auto;
        max-height: 100%;
    }

    &__close {
        text-align: right;
        margin: 15px 0;

        a {
            color: #000;
            font-size: 22px;
        
        }
    }

    &__header {
        color: #000;
        font-size: 28px;
        font-weight: 800;
    }

    p {
        font-size: 16px;
        color: #000;

        &.subheading {
            margin: 8px 0 15px;
            font-size: 14px;
            color: #000;
        }
    }

    h1 {
        font-size: 45px;
        margin: 25px 0 0;
        color: #000;
        font-weight: 800;
        text-align: left;
        line-height: 45px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: 16px;
            color: #000;
        }
    }
}

.pro-btns-list {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        vertical-align: middle;
        margin: 5px;

        a {
            height: 45px;
            line-height: 45px;
            padding: 0 20px;
            font-size: 18px;
            background-color: #1b1b1b;
            color: #fff;
            line-height: 45px;
            display: inline-block;
            border-radius: 8px;

            &[disabled] {
                background: rgba(0, 0, 0, 0.5);
                cursor: not-allowed;
                border: none;
            }
        }
    }
}

#custom-popup div[data-key="field_5f55f1e576678"] {
    display: none;
}

/* Style for the overlay */
#loader-overlay-paypal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other content */

    /* Style for the loader spinner */
    .loader {
        border: 6px solid #f3f3f3;
        border-top: 6px solid #3498db;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}